# ignore raw video files
**/*.mp4
**/*.mov

# ignoring build configuration
Boon.toml

# ignoring release folder
release/

# ignoring editor configuration files
.vscode/

# ignoring backup files from branch merging
**/*.orig
